<div class="">
  <% if(success_msg !== "") {%>
  <div class="message_success_container">
    <p class="message_success_text message"><%= success_msg %></p>
  </div>

  <%} %>
</div>

<div class="">
  <% if(error_msg !== "") {%>
  <div class="message_success_container">
    <p class="message_success_text message"><%= error_msg %></p>
  </div>

  <%} %>
</div>
