<%- include("templates/Header") %>
<main>
  <div class="be-a-seller">
    <h2 class="be-a-seller-h3">
      Seller your products <br />
      for free on B-Mart
    </h2>
    <h4 class="seller-h4"><a href="#">Sell</a></h4>
  </div>
  <section>
    <div class="buy-sell-text-container">
      <div class="buy-sell-text">
        <p class="buy-sell">Buy and sell anything for the best price</p>
      </div>
    </div>

    <article class="home-search-form">
      <form method="POST" action="#">
        <div class="home-search-wrap">
          <div class="home-search-subwrap">
            <input
              type="search"
              name="search"
              class="home-searchTerm"
              placeholder="Search for the best seller here."
            />
            <button class="home-searchButton" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </article>
  </section>
  <section class="home-product-categories-section">
    <article class="home-product-categories">
      <div class="product-category">
        <div class="category-container"></div>
      </div>
      <div class="product-category">
        <div class="category-container"></div>
      </div>
      <div class="product-category">
        <div class="category-container"></div>
      </div>
      <div class="product-category">
        <div class="category-container"></div>
      </div>
      <div class="product-category">
        <div class="category-container"></div>
      </div>
      <div class="product-category">
        <div class="category-container"></div>
      </div>
    </article>
  </section>
</main>
